cdux_development_notes.aux
cdux_development_notes.bbl
cdux_development_notes.blg
cdux_development_notes.log
cdux_development_notes.out
cdux_development_notes.toc
cdux_development_notes.xwm
cdux_development_notes.synctex.gz